<a data-link="{{linkToChat}}" class="chat-item">
  <div class="chat-item__left">
    <div class="chat-item__thumbnail">
    </div>
  </div>
  <div class="chat-item__core">
    <div class="chat-item__core_top">
      <span class="chat-item__core_title">{{title}}</span>
      <span class="chat-item__core_time">{{time}}</span>
    </div>
    <div class="chat-item__core_bottom">
      <span class="chat-item__core_message">{{message}}</span>
      {{#if unreadMessages}}
        <span class="chat-item__core_unread_message">{{unreadMessages}}</span>
      {{/if}}
    </div>
  </div>
</a >