{{! prettier-ignore }}
<div class="user-value-row">
  <span class="user-value-row__label">{{label}}</span>
  <input 
    class="user-value-row__input"
    value="{{value}}" 
    {{#if disabled}} disabled="{{disabled}}" {{/if}} 
    type="{{type}}" name="{{name}}"
  >
</div>
